
    <title>LearnMenia | Home</title>
    
<link rel="stylesheet" href="/static/css/all.css">
   
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

 
 <style>
    
 </style>
     
<body> 
     <section id="home">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 py-3">
            
               
                <h1 class="text-dark ms-5 fw-bold">Learn the skill that is in-demand for <span class="text-danger"> free.</span></h1>
                <p class="text-dark ms-5 fs-5 fst-italic">Looking for the Programming Courses Enroll now and Upgrade your skills.</p>
                <a href="/login" class="btn btn-danger ms-5 fw-bold fs-5">Start for Free</a>

            </div>
            <div class="col-md-6    text-center ">
              
                <img src="/static/images/mainss.png" alt=""  class="py-2"style="max-height:500px;"/>
                
            </div>

        </div>
    </div>

  

  <!-- {{!-- Main section ends --}} -->


<!-- {{!-- Popular Courses Section --}} -->

   <div class="container py-5 mt-4">
    <div class="row">
        <h1 class="text-center">Browse Popular <span class="fst-italic"> Learn</span><span class="text-danger fst-italic">Menia</span> Courses</h1>
       
            <div class="col-md-4">
                <div class="card shadow-lg mb-5 bg-body rounded mt-3 border-dark">
                    <div class="card-body">
                        <div class="container text-center py-3">
                              <img src="/static/images/pythonpr.png" style="max-height:200px;" class="card-img-top" alt="...">
    
                        </div>
                        <h5 class="card-title">Python Programming language</h5>
                        <p class="fs-8">Learn python programming language and develop skills for machine larnings for free.</p>
                        

 

                    </div>

                </div>

            </div>

            <div class="col-md-4">
                <div class="card shadow-lg mb-5 bg-body rounded mt-3 border-dark">
                    <div class="card-body">
                        <div class="container text-center py-3">
                              <img src="/static/images/javalogo.png" style="max-height:200px;" class="card-img-top" alt="...">
             
                        
                        </div>
                        <h5 class="card-title">Java Programming language</h5>
                        <p class="fs-8">Learn java and advance java programming and develop innovative softwares. </p>
                        

 

                    </div>

                </div>

            </div>

            <div class="col-md-4">
                <div class="card shadow-lg mb-5 bg-body rounded mt-3 border-dark">
                    <div class="card-body">
                        <div class="container text-center py-3">
                              <img src="/static/images/flutter.png" style="max-height:200px;" class="card-img-top" alt="...">
             
                       
                        </div>
                        <h5 class="card-title">Flutter Programming language</h5>
                        <p class="fs-8">Learn Flutter programing language and boost your skill in mobile app development for free.</p>
                         

 

                    </div>

                </div>

            </div>

    </div>

   </div>

    

   <!-- {{!-- Popular course section ends --}}
  
   
                  {{!-- Services sections --}} -->


    
        <div class="container py-5">

        <h1 class="text-center text-dark">Services We Provide...</h1>
        <div class="row mt-5">

         
            <div class="col-md-4">
                <div class="card shadow-lg mb-5 bg-body rounded mt-3 border-dark">
                    <div class="card-body">
                        <div class="container text-center py-3">
             
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
  <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
</svg>
                        </div>
                        <h5 class="card-title">Provide Best Courses</h5>
                        <p class="fs-8">We provide best courses that helps our students in learning and in placements.</p>

                    </div>

                </div>

            </div>

            <div class="col-md-4">
                <div class="card shadow-lg mb-5 bg-body rounded mt-3 border-dark">
                    <div class="card-body">
                        <div class="container text-center py-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
</svg>
                        </div>
                        <h5 class="card-title">Provide Questions </h5>
                        <p class="fs-8">We provide question for the participants to boost their skills.</p>
                    
                    </div>

                </div>

            </div>

            <div class="col-md-4">
                <div class="card shadow-lg mb-5 bg-body rounded mt-3 border-dark">
                    <div class="card-body">
                        <div class="container text-center py-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-journal-bookmark" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M6 8V1h1v6.117L8.743 6.07a.5.5 0 0 1 .514 0L11 7.117V1h1v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8z"/>
  <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
  <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
</svg>
                                
                        
                        </div>
                        <h5 class="card-title"> Notes</h5>
                        <p class="fs-8">This helps participants to take notes of respective courses.</p>
                    
                    </div>

                </div>

            </div>

          <div class="col-md-4">
                <div class="card shadow-lg mb-5 bg-body rounded mt-2 border-dark">
                    <div class="card-body">
                        <div class="container text-center py-3">
                             
             
                         <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
  <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
  <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
</svg>
                        </div>
                        <h5 class="card-title">Set Schedules</h5>
                        <p class="fs-8">This helps students to set their plans for the courses they want to skilled up.</p>
                    
                    </div>

                </div>

            </div>

             <div class="col-md-4">
                <div class="card shadow-lg mb-5 bg-body rounded mt-2 border-dark">
                    <div class="card-body">
                        <div class="container text-center py-3">         
                         <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">
  <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
  <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
  <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
</svg>
                        </div>
                        <h5 class="card-title">Assignments</h5>
                        <p class="fs-8">We release assignments to help the participants to boost their effort.</p>

                    </div>

                </div>

            </div>
             <div class="col-md-4">
                <div class="card shadow-lg mb-5 bg-body rounded mt-2 border-dark">
                    <div class="card-body">
                        <div class="container text-center py-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-terminal" viewBox="0 0 16 16">
  <path d="M6 9a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3A.5.5 0 0 1 6 9zM3.854 4.146a.5.5 0 1 0-.708.708L4.793 6.5 3.146 8.146a.5.5 0 1 0 .708.708l2-2a.5.5 0 0 0 0-.708l-2-2z"/>
  <path d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h12z"/>
</svg>
                        </div>
                        <h5 class="card-title">Project learning</h5>
                        <p class="fs-8">We provide project learning skills which makes students/user innovative.</p>
                       
                    </div>

                </div>

            </div>

        </div>
        </div>
<!-- 
{{!-- Service section ends --}}

 
 {{!-- Banner section --}} -->

    <div class="container py-3">
        <h1 class="text-center">Why Choose LearnMenia Courses?</h1>
        <div class="row py-2">
            <div class="col-md-5 py-2">
                <img src="/static/images/why.png" alt="" class="img-fluid ms-5 ps-5" style="max-height:400px;"/>


            </div>
            <div class="col-md-6">
                <h2 class=" text-center fst-italic py-2">Get Popular Courses</h2>
                <p class="fs-5">There are several elements on our website that help users feel more at ease when taking classes. 
                    This site offers courses that are well-liked by programmers and are in high demand, which is advantageous for the user. 
                    If a user has any questions, they can contact the advisers, who may help them to clear up their problems. 
                    The course material is written in a way that is simple for novices to comprehend and provides all information via the fundamentals of coding.</p>

            </div>
        </div>
    </div>

 <!-- {{!-- Banner section ends --}}

    {{!-- banner section  --}} -->

<div class="container backgroundpro shadow-lg p-3 mb-5 rounded">
     <div class="row">
        <div class="col-md-6">
            <p class="fs-5 ">Got questions?</p>
            <h1>Talk to us Directly to clear your confusion.</h3>
            <p class="fs-5">Advisor will get in touch with you shortly.</p>
        </div>
        <div class="col-md-6 mt-5 py-5 text-center">
            <a href="#contact-form" class="btn btn-success  fw-bold fs-5">Contact Us</a>
        </div>
     </div>
   
</div>
</section>

<!-- {{!-- banner section Ends  --}}

{{!-- About Section --}} -->

<section id="about">
<div class="container text-center">
        <div class="row">
            <div class="col-md-6">
             <img src="/static/images/ss12.png" style="max-height:400px;">

            </div>
            <div class="col-md-6 mt-5 py-5">
                
                <h2 class="font-monospace fw-semibold">We provide High Quality Learning</h2>
                <p>We have the best techniques and modules to upgrade your coding skill and made professional coder or programmer.</p>
                <a href="/login" class="btn btn-info  fw-bold fs-5">Enroll now...</a>

            </div>
        </div>
    </div>


    

<div class="container py-5">
        <h1 class="text-center">Want to Explore our Free Courses?</h1>
        <div class="row py-2">
            <div class="col-md-6 py-5">
                <h2 class=" text-center fst-italic ">Get Popular Courses</h2>
                <p class="fs-5">There are several elements on our website that help users feel more at ease when taking classes. 
                    This site offers courses that are well-liked by programmers and are in high demand, which is advantageous for the user. 
                    If a user has any questions, they can contact the advisers, who may help them to clear up their problems. 
                    The course material is written in a way that is simple for novices to comprehend and provides all information via the fundamentals of coding.</p>
                <a href="/courseshow" class="btn btn-danger ms-5  fw-bold fs-5">View Courses</a>



            </div>
            <div class="col-md-6 py-5">
                 <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid ms-5" style="max-height:300px;" alt="Phone image">
            </div>
        </div>
    </div>


</section>

<!-- {{!-- About section Ends  --}}

  {{!-- Contact Section --}} -->

  <section id="contact-form">
    
     <div class="container shadow-lg p-3 mb-2 rounded text-center ">
        <div class="row ">
             <h1 class="text-center">Contact Us</h1>
            <div class="col-md-6 mt-5">
               
                <div class="card   mt-3">
                    <div class="card-body ">
                        <h4 class="fst-italic">Fill this form to get in touch with us...</h4>

                        <form action="/contact" method="POST"autocomplete="off">

                        <div class="form-floating">
                            <input type="text" class="form-control" name="fullname"   placeholder="Full Name"
                                 required/>
                            <label for="floatingInputGroup1">Fullname</label>
                        </div>

                        <div class="form-floating mt-3">
                            <input type="email" class="form-control" name="email" placeholder="Email" required/>
                            <label for="floatingInputGroup1">Email</label>
                        </div>

                        <div class="form-floating mt-3">
                            <textarea class="form-control" placeholder="Leave a comment here" name="desc"  
                                style="height: 100px" required></textarea>
                            <label for="floatingTextarea2">Leave Your Comments</label>
                        </div>

                         
                        <button type="submit" class="btn btn-success text-center mt-4 ">Submit</button>
                        </form>

                    </div>

                </div>
                </div>

                <div class="col-md-6 mt-3">
                    <img src="/static/images/contact.png" alt="" class="mt-5 img-fluid" style="max-height:500px;" />
                </div>
            </div>
        </div>

  </section>
<!-- {{!-- Contact sections End--}}


{{!-- Testimonials sections --}} -->

<style>
    .profileimg{
        border-radius: 50%;
       
    }
</style>

<section id="testimonial ">
    <div class="container text-center">
        <div class="col">

            <h1>Testimonials</h1><br><br>
            <img src="/static/images/nite.jpg" class="profileimg"style="max-height:200px; max-width:200px;">
            <h3 class="mt-2">Nitesh Yadav</h3>
            <h5 class="mt-2">Student, Softwarica College</h5>
            
            <p class="text-center fs-4 mt-2">The platform is distinguished by its simplified and personalized approach, which is integrated into its development and implementation.
            It has a broad range of capabilities, such as the possibility for a module/subject leader to submit the course as a PowerPoint Presentation. 
            The student can access the study material for their registered module/subject at any time. The learner can submit comments on the learning material provided by LearmMenia. 
            This assists the module/subject leader in future work on their module/subject material.</p>
           

        </div>
    </div>
</section>
</body>
<!-- {{!-- Testimonials sections End--}} -->